<%- include('partials/header') %>
<!-- Section Hero -->
<section id="hero" class="hero section dark-background">
  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="zoom-out">
        <h1>Braj Rides is a trusted bike rental service</h1>
        <p>Our mission is to make your spontaneous trips easy and affordable. </p>
        <div class="d-flex">
          <a href=<%- site %> target="_blank" class="btn-get-started">Our Site</a>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="200">
        <img src="/assets/img/hero.png" class="img-fluid animated" alt="">
      </div>
    </div>
  </div>
</section>
<!-- End Section Hero -->



<%- include('partials/footer') %>
