<%- include('partials/header') %>
<section id="unauthorized" class="unauthorized section">
    <div class="container section-title" data-aos="fade-up">
      <h2>Unauthorized Access</h2>
      <p>You do not have permission to access this page.</p>
      <a href="/">Go to Home</a>

    </div>
  </section>

<%- include('partials/footer') %>
